__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/
.env
.venv/
venv/
env/
*.env
*.log
.DS_Store
Thumbs.db
*.dbc
*.dbarchive
.vscode/
.idea/
*.iml
htmlcov/
.tox/
coverage.*
.cache
pytest_cache/
*.cover
*.pytest_cache/
.repos/
poetry.lock
Pipfile.lock
